# Database
DATABASE_URL="mysql://ewms:ewms@localhost:3306/ewms"

# Better Auth
BETTER_AUTH_SECRET="change-me-to-a-long-random-string-at-least-32-chars"
BETTER_AUTH_URL="http://localhost:3000"

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""
